input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#container {
    display: flex;
}
.split-div {
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}
